.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.styleColor {
  width: 250px;
  height: 50px;
  padding: 0;
  border: 1px solid #838383;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
}
.outRgb {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  background-color: #ff0000;
}
